{% extends "base.html" %} {% block content %}
<div class="container m-3">
  <h2>Quienes somos</h2>
  <p>
    La florería Floralis busca modernizar la forma de vender y entregar flores,
    mejorar la experiencia del cliente y proporcionar a los dueños una
    herramienta completa para administrar su negocio desde un solo lugar. Su
    meta es convertirse en un canal clave de ventas, fidelización y crecimiento
    sostenible.
  </p>

  <p>
    Nuestro objetivo principal es ofrecer una experiencia de compra intuitiva,
    visual y confiable, facilitando la conexión entre la florería y sus clientes
    a través de un canal accesible, moderno y automatizado.
  </p>

  <h2>Nuestro objetivo</h2>
  <p>
    Nuestro objetivo es proporcionar una plataforma de comercio electrónico
    eficiente, segura y fácil de usar, que permita a los clientes encontrar y
    comprar flores de calidad, con un precio justo y un servicio de atención
    personalizado.
  </p>

  <h2>Nuestros valores</h2>
  <p>
    Nuestros valores son la simplicidad, la seguridad y la eficiencia. Estamos
    comprometidos a ofrecer una experiencia de compra y venta de flores
    eficiente, segura y fácil de usar.
  </p>

  <h2>Nuestros servicios</h2>
  <p>
    Nuestros servicios incluyen la gestión de la tienda, la selección de flores,
    la entrega y la atención personalizada. Estamos comprometidos a ofrecer una
    experiencia de compra y venta de flores eficiente, segura y fácil de usar.
  </p>

  <h2>Nuestra estrategia</h2>
  <p>
    Nuestra estrategia se enfoca en la mejora continua de la experiencia de
    compra y venta de flores, mejorando la eficiencia y la seguridad de nuestros
    procesos. Estamos comprometidos a ofrecer una experiencia de compra y venta
    de flores eficiente, segura y fácil de usar.
    <br />
    <br />
    ¡Estamos ansiosos por contar con tus flores y disfrutar de la experiencia de
    compra y venta de flores! ¡No dudes en ponerte en contacto con nosotros!
  </p>
</div>
{% endblock %}
